{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Hotel data",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.liteapi.travel/v3.0"
    }
  ],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header"
      }
    }
  },
  "paths": {
    "/data/places": {
      "get": {
        "tags": [
          "Places"
        ],
        "summary": "Search for a list of places",
        "description": "Look up for a list of places and areas, given a search query. Places can be used to search for hotels within a location and restrict the list to results within the boundaries of a selected place.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "textQuery",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query. e.g. 'Manhattan'",
            "required": true,
            "example": "Manhattan"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restricts the results to places matching the specified type. e.g. 'hotel'",
            "example": "hotel"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The language code, indicating in which language the results should be returned. e.g. 'en'",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "5"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "4"
                }
              },
              "X-Ratelimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": "1721314949"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ljgo-XZyYUfs8xBtfdhTo"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 18 Jul 2024 15:02:29 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "275"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "placeId": "ChIJu1K2erNv5kcR6HyzBQieKJ0",
                      "displayName": "Rome",
                      "formattedAddress": "75017 París, Francia",
                      "types": [
                        "subway_station",
                        "transit_station",
                        "point_of_interest",
                        "establishment"
                      ],
                      "language": "fr"
                    },
                    {
                      "placeId": "ChIJNcQlLHTIzhIRSLrqN9rgv5Q",
                      "displayName": "Paris Rome",
                      "formattedAddress": "4 Rue de Provence, 75009 Paris, Francia",
                      "types": [
                        "hotel",
                        "lodging",
                        "point_of_interest",
                        "establishment"
                      ],
                      "language": "es"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data/hotels": {
      "get": {
        "tags": [
          "Hotels"
        ],
        "summary": "Retrieve a list of hotels",
        "description": "This API endpoint returns a **list of hotels** available based on different search criterion.\n\nThe minimum required information is the country code in ISO-2 format.\nThe API supports additional search criteria such as city name, geo coordinates, and radius.\n\nThis endpoint provides detailed hotel metadata, including names, addresses, ratings, amenities, and images, facilitating robust hotel search and display features within applications.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code ISO-2 code - example (SG)",
            "example": "US"
          },
          {
            "name": "cityName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name of the city",
            "example": "New York"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Specifies the number of rows to skip before starting to return rows",
            "example": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit number of results (max 1000)",
            "example": "1000"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Longitude geo coordinates",
            "example": "-115.16988"
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Latitude geo coordinates",
            "example": "36.12510"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "radius in meters (min 1000m)",
            "example": "10000"
          },
          {
            "name": "aiSearch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for AI search",
            "example": "Hotels near the Eiffel tower"
          },
          {
            "schema": {
              "type": "number",
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          },
          {
            "name": "zip",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "ZIP code of the location",
            "example": "08401"
          },
          {
            "name": "minRating",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "in": "query",
            "description": "Minimum rating of the hotel. e.g. 8.6",
            "example": "8.6"
          },
          {
            "name": "minReviewsCount",
            "schema": {
              "type": "number",
              "format": "integer"
            },
            "in": "query",
            "description": "Minimum number of reviews. e.g. 100",
            "example": "100"
          },
          {
            "name": "facilityIds",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of facilities. e.g. '1,2,3'",
            "example": "1,2,3"
          },
          {
            "name": "strictFacilitiesFiltering",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "If `true`, only hotels with all the specified facilities will be returned",
            "example": false
          },
          {
            "name": "starRating",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of star ratings. Note: star ratings have 2 allowed decimals '.0' and '.5' from 1 to 5. e.g. '3.5,4.0,5.0'",
            "example": "3.5,4.0,5.0"
          },
          {
            "name": "placeId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Unique ID of a place retrieved from the places endpoint",
            "example": "ChIJYeZuBI9YwokRjMDs_IEyCwo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "10167"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "1aec9ab6-4694-426a-b254-838890b1d287"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fa8JAERWIAMFpsQ="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "hotelDescription": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "main_photo": {
                            "type": "string"
                          },
                          "stars": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "hotelIds": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "HR Sibenik 3 hotels": {
                    "value": {
                      "data": [
                        {
                          "id": "lp42fec",
                          "name": "Hotel Jadran",
                          "hotelDescription": "Location : With a stay at Hotel Jadran in Sibenik (Sibenik Old Town), you'll be steps from Museum of Church Art and Church of St. Barbara.  This hotel is 10.6 mi (17 km) from Krka National Park and 0.1 mi (0.1 km) from Sibenik Aquarium.<br/>Amenities : Take in the views from a terrace and a garden and make use of amenities such as complimentary wireless Internet access. Additional amenities at this hotel include concierge services, wedding services, and a television in a common area.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Museum of Church Art - 0.1 km / 0.1 mi <br /> Church of St. Barbara - 0.1 km / 0.1 mi <br /> Bunari Museum - 0.1 km / 0.1 mi <br /> Sibenik Aquarium - 0.2 km / 0.1 mi <br /> Cathedral of St. James - 0.2 km / 0.1 mi <br /> Benedictine Monastery of St. Lucia - 0.2 km / 0.2 mi <br /> Church of St. Krsevan - 0.3 km / 0.2 mi <br /> Church of St. Ivan - 0.3 km / 0.2 mi <br /> Uspenie Bogomatere Church - 0.3 km / 0.2 mi <br /> Church and Monastery of St.Francis - 0.3 km / 0.2 mi <br /> Medieval Mediterranean Garden of the Monastery of St. Lawrence - 0.3 km / 0.2 mi <br /> Church of Saint Spirit - 0.3 km / 0.2 mi <br /> Church of Gospe van Grada - 0.5 km / 0.3 mi <br /> St Michael's Fortress - 0.7 km / 0.4 mi <br /> Subicevac Fortress - 1 km / 0.6 mi <br /> </p><p>The nearest airports are:<br />Split Airport (SPU) - 60.1 km / 37.4 mi<br /> Zadar (ZAD) - 77.1 km / 47.9 mi<br /> </p><p>The preferred airport for Hotel Jadran is Zadar (ZAD). </p><br/>business_amenities : Featured amenities include a business center, dry cleaning/laundry services, and a 24-hour front desk. Planning an event in Sibenik? This hotel has 699 square feet (65 square meters) of space consisting of conference space and a meeting room. Guests may use a ferry terminal shuttle for a surcharge, and self parking (subject to charges) is available onsite.<br/>Dining : Enjoy a meal at the restaurant or snacks in the coffee shop/cafe. The hotel also offers room service (during limited hours). Quench your thirst with your favorite drink at the bar/lounge.<br/>HeadLine : In Sibenik (Sibenik Old Town)<br/>Rooms : Make yourself at home in one of the 57 air-conditioned guestrooms. Satellite television is provided for your entertainment. Private bathrooms with bathtubs feature complimentary toiletries and hair dryers. Conveniences include phones and desks, and housekeeping is provided daily.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.73464,
                          "longitude": 15.88974,
                          "address": "Obala dr. Franje Tudmana 52",
                          "zip": "22000",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/274412.jpg",
                          "stars": 3,
                          "facilityIds": [
                            1,
                            2,
                            3
                          ]
                        },
                        {
                          "id": "lp50f7f",
                          "name": "Apartmani Ani",
                          "hotelDescription": "Location : When you stay at Apartmani Ani in Sibenik, you'll be near the beach and within a 5-minute drive of Krapanj Franciscan Monastery.  This apartment is 12.8 mi (20.6 km) from Krka National Park and 6 mi (9.7 km) from Dalmatian Ethno Village.<br/>Amenities : Take in the views from a terrace and a garden and make use of amenities such as complimentary wireless Internet access. This apartment also features tour/ticket assistance and barbecue grills.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Krapanj Franciscan Monastery - 4.2 km / 2.6 mi <br /> Dalmatian Ethno Village - 9.7 km / 6 mi <br /> Church of St. Barbara - 11 km / 6.8 mi <br /> Museum of Church Art - 11 km / 6.8 mi <br /> Bunari Museum - 11.1 km / 6.9 mi <br /> Church of Gospe van Grada - 11.9 km / 7.4 mi <br /> Church and Monastery of St.Francis - 12.1 km / 7.5 mi <br /> Sibenik Aquarium - 12.4 km / 7.7 mi <br /> Subicevac Fortress - 12.4 km / 7.7 mi <br /> Cathedral of St. James - 12.5 km / 7.8 mi <br /> Benedictine Monastery of St. Lucia - 12.5 km / 7.8 mi <br /> Beach Rtic - 13 km / 8.1 mi <br /> St. John's Fortress - 14 km / 8.7 mi <br /> Sokolarski Raptor Centre - 14 km / 8.7 mi <br /> Medieval Mediterranean Garden of the Monastery of St. Lawrence - 14.3 km / 8.9 mi <br /> </p><p>The preferred airport for Apartmani Ani is Split Airport (SPU) - 50.2 km / 31.2 mi </p><br/>business_amenities : Free self parking is available onsite.<br/>HeadLine : Near the beach<br/>Rooms : Make yourself at home in one of the 7 air-conditioned rooms featuring kitchens with full-sized refrigerators/freezers and stovetops. Rooms have private balconies or patios. Complimentary wireless Internet access keeps you connected, and satellite programming is available for your entertainment. Conveniences include safes and coffee/tea makers.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.660413,
                          "longitude": 15.947561,
                          "address": "Bubanj I / Br. 10",
                          "zip": "22010",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/331647.jpg",
                          "stars": 3
                        },
                        {
                          "id": "lp51261",
                          "name": "Villa Rosa",
                          "hotelDescription": "Location : Located in Sibenik, Villa Rosa is a 1-minute drive from Krapanj Franciscan Monastery and 6 minutes from Dalmatian Ethno Village.  This beach hotel is 10.7 mi (17.2 km) from Krka National Park and 4.6 mi (7.3 km) from Uspenie Bogomatere Church.<br/>Amenities : Take advantage of recreation opportunities such as a fitness center or take in the view from a terrace and a garden. This hotel also features complimentary wireless Internet access, tour/ticket assistance, and barbecue grills.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Krapanj Franciscan Monastery - 1.4 km / 0.9 mi <br /> Dalmatian Ethno Village - 5.4 km / 3.3 mi <br /> Uspenie Bogomatere Church - 7.3 km / 4.6 mi <br /> Church of Gospe van Grada - 7.6 km / 4.7 mi <br /> Church of St. Barbara - 7.6 km / 4.7 mi <br /> Museum of Church Art - 7.7 km / 4.8 mi <br /> Bunari Museum - 7.7 km / 4.8 mi <br /> Church of Saint Spirit - 7.8 km / 4.9 mi <br /> Church of St. Ivan - 7.9 km / 4.9 mi <br /> Sibenik Aquarium - 8.1 km / 5 mi <br /> Cathedral of St. James - 8.2 km / 5.1 mi <br /> Subicevac Fortress - 8.4 km / 5.2 mi <br /> St. John's Fortress - 8.7 km / 5.4 mi <br /> Church and Monastery of St.Francis - 8.7 km / 5.4 mi <br /> Benedictine Monastery of St. Lucia - 9.2 km / 5.7 mi <br /> </p><p>The nearest major airport is Split Airport (SPU) - 52.4 km / 32.6 mi</p><br/>business_amenities : Featured amenities include dry cleaning/laundry services and laundry facilities. Free self parking is available onsite.<br/>Dining : Enjoy a meal at the restaurant, or stay in and take advantage of the hotel's room service. Buffet breakfasts are available daily from 7:30 AM to 9:00 AM for a fee.<br/>HeadLine : Near Krapanj Franciscan Monastery<br/>Rooms : Make yourself at home in one of the 8 guestrooms, featuring kitchenettes with refrigerators and microwaves. Rooms have private balconies. Complimentary wireless Internet access is available to keep you connected. Conveniences include desks and coffee/tea makers, and housekeeping is provided daily.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.678974,
                          "longitude": 15.917649,
                          "address": "Krapanjskih Spuzvara 40",
                          "zip": "22010",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/332385.jpg",
                          "stars": 2.5
                        }
                      ],
                      "hotelIds": "lp42fec,lp50f7f,lp51261",
                      "total": 1004
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "10167"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "1aec9ab6-4694-426a-b254-838890b1d287"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fa8JAERWIAMFpsQ="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "countryCode is required": {
                    "value": {
                      "error": {
                        "code": 4000,
                        "description": "countryCode is required",
                        "message": "bad request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "10167"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "1aec9ab6-4694-426a-b254-838890b1d287"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fa8JAERWIAMFpsQ="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 21:22:39 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hotel": {
      "get": {
        "tags": [
          "Hotels"
        ],
        "summary": "Get the details of a hotel",
        "description": "The \"Get Hotel Details\" endpoint allows developers to retrieve detailed information about a specific hotel using its unique identifier. This endpoint provides extensive data, including the hotel's name, address, rating, amenities, images, and a detailed description. By making a `GET` request to `/v3.0/data/hotel?hotelId={id}`, developers can access this comprehensive information, which is crucial for displaying detailed hotel profiles in their applications.\n\nThis endpoint ensures that users have access to all necessary details to make informed decisions about their hotel stays, enhancing the overall user experience.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unique ID of a hotel",
            "required": true,
            "example": "lp3803c"
          },
          {
            "schema": {
              "type": "number",
              "default": 4,
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "4602"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "de322633-544f-4572-855a-cf96bab29e4d"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "BIqEAG8uoAMFr0A="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "hotelDescription": {
                          "type": "string"
                        },
                        "checkinCheckoutTimes": {
                          "type": "object",
                          "properties": {
                            "checkout": {
                              "type": "string"
                            },
                            "checkin": {
                              "type": "string"
                            },
                            "checkinStart": {
                              "type": "string"
                            },
                            "checkinEnd": {
                              "type": "string"
                            }
                          }
                        },
                        "hotelImages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "caption": {
                                "type": "string"
                              },
                              "order": {
                                "type": "integer"
                              },
                              "defaultImage": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "country": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "starRating": {
                          "type": "integer"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number"
                            },
                            "longitude": {
                              "type": "number"
                            }
                          }
                        },
                        "address": {
                          "type": "string"
                        },
                        "hotelFacilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "facilities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "facilityId": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "phone": {
                          "type": "string"
                        },
                        "fax": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "hotelType": {
                          "type": "string"
                        },
                        "airportCode": {
                          "type": "string"
                        },
                        "rating": {
                          "type": "number"
                        },
                        "reviewCount": {
                          "type": "integer"
                        },
                        "parking": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "groupRoomMin": {
                          "type": "number",
                          "nullable": true
                        },
                        "childAllowed": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "petsAllowed": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "policies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "hotel lp4c2bf": {
                    "value": {
                      "data": {
                        "id": "lp4c2bf",
                        "hotelDescription": "<p><strong>Central Location</strong>: Situated in the heart of Casablanca, EAST WEST HOTEL offers convenience and comfort for your stay. Explore the city with ease from our prime location.</p><p><strong>Comfortable Accommodation</strong>: Our air-conditioned rooms with flat-screen TVs and some with balconies provide a cozy retreat after a day of sightseeing. Relax and unwind in style.</p><p><strong>Multilingual Staff and Nearby Attractions</strong>: Our friendly staff fluent in Arabic, English, and French are ready to assist you. With key attractions like Casablanca Cathedral and Ancient Medina nearby, your stay will be both convenient and memorable.</p><p>To experience the best of Casablanca, book your stay at EAST WEST HOTEL now!</p>",
                        "checkinCheckoutTimes": {
                          "checkout": "11:30 AM",
                          "checkin": "02:00 PM",
                          "checkinStart": "02:00 PM",
                          "checkinEnd": "12:00 AM"
                        },
                        "hotelImages": [
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127505.jpg",
                            "caption": "hotel building",
                            "order": 1,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127265.jpg",
                            "caption": "hotel building",
                            "order": 1,
                            "defaultImage": true
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127360.jpg",
                            "caption": "hotel building",
                            "order": 1,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127307.jpg",
                            "caption": "hotel reception",
                            "order": 2,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127209.jpg",
                            "caption": "hotel reception",
                            "order": 2,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127394.jpg",
                            "caption": "hotel reception",
                            "order": 2,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127350.jpg",
                            "caption": "hotel reception",
                            "order": 2,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127415.jpg",
                            "caption": "hotel reception",
                            "order": 2,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127440.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127462.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127543.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127550.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127464.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127531.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127676.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127588.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127482.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127427.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127570.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127465.jpg",
                            "caption": "restaurant",
                            "order": 4,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127332.jpg",
                            "caption": "bar",
                            "order": 6,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127384.jpg",
                            "caption": "bar",
                            "order": 6,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127397.jpg",
                            "caption": "bar",
                            "order": 6,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127402.jpg",
                            "caption": "bar",
                            "order": 6,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127372.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127313.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/407401091.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127662.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127474.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127632.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127277.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/407401135.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/407402683.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127256.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127494.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406331148.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406329212.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406321365.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/407402709.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406321355.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406321362.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127519.jpg",
                            "caption": "hotel room",
                            "order": 8,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127250.jpg",
                            "caption": "living room",
                            "order": 9,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127488.jpg",
                            "caption": "living room",
                            "order": 9,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406318047.jpg",
                            "caption": "bathroom",
                            "order": 10,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127513.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127407.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127450.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127345.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127558.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127355.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127217.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          },
                          {
                            "url": "https://snaphotelapi.com/hotels/hd/406127226.jpg",
                            "caption": "other",
                            "order": 27,
                            "defaultImage": false
                          }
                        ],
                        "country": "ma",
                        "city": "Casablanca",
                        "starRating": 3,
                        "location": {
                          "latitude": 33.59265,
                          "longitude": -7.63004
                        },
                        "address": "10 Avenue Hassan Souktani quartier Gauthier",
                        "hotelFacilities": [
                          "WiFi available",
                          "Free WiFi",
                          "Non-smoking rooms",
                          "Air conditioning",
                          "24-hour front desk",
                          "Restaurant",
                          "Heating",
                          "Family rooms",
                          "Lift / Elevator",
                          "Bar",
                          "Private check-in/check-out",
                          "Designated smoking area",
                          "Concierge service",
                          "Staff adhere to local safety protocols",
                          "Laundry washed per local authority guidelines",
                          "Guest rooms disinfected between stays",
                          "Physical distancing rules followed",
                          "Cashless payment available",
                          "Fire extinguishers",
                          "Sanitized tableware & silverware",
                          "Guests can opt-out any cleaning services during stay",
                          "Smoke alarms",
                          "Guest room sealed after cleaning",
                          "Property cleaned by professional cleaning companies",
                          "CCTV outside property",
                          "CCTV in common areas",
                          "24-hour security",
                          "Delivered food - securely covered",
                          "Security alarm",
                          "Live music/performance",
                          "Broadcast Live sport events"
                        ],
                        "facilities": [
                          {
                            "facilityId": 47,
                            "name": "WiFi available"
                          },
                          {
                            "facilityId": 107,
                            "name": "Free WiFi"
                          },
                          {
                            "facilityId": 16,
                            "name": "Non-smoking rooms"
                          },
                          {
                            "facilityId": 109,
                            "name": "Air conditioning"
                          },
                          {
                            "facilityId": 8,
                            "name": "24-hour front desk"
                          },
                          {
                            "facilityId": 3,
                            "name": "Restaurant"
                          },
                          {
                            "facilityId": 80,
                            "name": "Heating"
                          },
                          {
                            "facilityId": 28,
                            "name": "Family rooms"
                          },
                          {
                            "facilityId": 48,
                            "name": "Lift / Elevator"
                          },
                          {
                            "facilityId": 7,
                            "name": "Bar"
                          },
                          {
                            "facilityId": 127,
                            "name": "Private check-in/check-out"
                          },
                          {
                            "facilityId": 110,
                            "name": "Designated smoking area"
                          },
                          {
                            "facilityId": 124,
                            "name": "Concierge service"
                          },
                          {
                            "facilityId": 455,
                            "name": "Staff adhere to local safety protocols"
                          },
                          {
                            "facilityId": 450,
                            "name": "Laundry washed per local authority guidelines"
                          },
                          {
                            "facilityId": 451,
                            "name": "Guest rooms disinfected between stays"
                          },
                          {
                            "facilityId": 462,
                            "name": "Physical distancing rules followed"
                          },
                          {
                            "facilityId": 461,
                            "name": "Cashless payment available"
                          },
                          {
                            "facilityId": 425,
                            "name": "Fire extinguishers"
                          },
                          {
                            "facilityId": 467,
                            "name": "Sanitized tableware & silverware"
                          },
                          {
                            "facilityId": 468,
                            "name": "Guests can opt-out any cleaning services during stay"
                          },
                          {
                            "facilityId": 422,
                            "name": "Smoke alarms"
                          },
                          {
                            "facilityId": 452,
                            "name": "Guest room sealed after cleaning"
                          },
                          {
                            "facilityId": 466,
                            "name": "Property cleaned by professional cleaning companies"
                          },
                          {
                            "facilityId": 424,
                            "name": "CCTV outside property"
                          },
                          {
                            "facilityId": 423,
                            "name": "CCTV in common areas"
                          },
                          {
                            "facilityId": 418,
                            "name": "24-hour security"
                          },
                          {
                            "facilityId": 485,
                            "name": "Delivered food - securely covered"
                          },
                          {
                            "facilityId": 421,
                            "name": "Security alarm"
                          },
                          {
                            "facilityId": 410,
                            "name": "Live music/performance"
                          },
                          {
                            "facilityId": 411,
                            "name": "Broadcast Live sport events"
                          }
                        ],
                        "phone": "",
                        "fax": "",
                        "email": "",
                        "hotelType": "",
                        "airportCode": "",
                        "rating": 7.7,
                        "reviewCount": 250,
                        "parking": null,
                        "groupRoomMin": null,
                        "childAllowed": null,
                        "petsAllowed": null,
                        "policies": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "4602"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "de322633-544f-4572-855a-cf96bab29e4d"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "BIqEAG8uoAMFr0A="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "hotelId is missing or invalid": {
                    "value": {
                      "error": {
                        "code": 4002,
                        "description": "hotelId is missing or invalid",
                        "message": "required request field is missing or wrong input"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "4602"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "de322633-544f-4572-855a-cf96bab29e4d"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "BIqEAG8uoAMFr0A="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 02 Mar 2023 04:19:00 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/reviews": {
      "get": {
        "tags": [
          "Hotels"
        ],
        "summary": "Get the reviews of a hotel",
        "description": "The \"Get Hotel Reviews\" endpoint allows developers to fetch reviews for a specific hotel using its unique identifier. This endpoint provides valuable feedback from previous guests, including ratings, review text, and the date of the review. By making a `GET` request to `/v3.0/data/reviews?hotelId={id}`, developers can integrate authentic user reviews into their applications, helping potential guests make informed decisions based on real experiences.\n\nThis feature enhances the user experience by providing transparent and detailed insights into hotel quality and guest satisfaction, which is crucial for building trust and credibility.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unique ID of a hotel",
            "required": true,
            "example": "lp3803c"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "limit number of results (max 1000)",
            "example": "1000"
          },
          {
            "schema": {
              "type": "number",
              "default": 4,
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of hotel reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "averageScore": {
                            "type": "number",
                            "description": "Average score of the review",
                            "example": 10
                          },
                          "country": {
                            "type": "string",
                            "description": "Country of the reviewer",
                            "example": "ma"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of traveler (e.g., business, solo)",
                            "example": "review category business travellers"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the reviewer",
                            "example": "Himri"
                          },
                          "date": {
                            "type": "string",
                            "description": "Date and time of the review",
                            "example": "2024-05-10 15:26:15"
                          },
                          "headline": {
                            "type": "string",
                            "description": "Headline of the review",
                            "example": "Exceptional"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language of the review",
                            "example": "en"
                          },
                          "pros": {
                            "type": "string",
                            "description": "Pros mentioned in the review",
                            "example": "Exceptional as always"
                          },
                          "cons": {
                            "type": "string",
                            "description": "Cons mentioned in the review",
                            "example": ""
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "2 reviews of lp4c2bf": {
                    "value": {
                      "data": [
                        {
                          "averageScore": 8,
                          "country": "ps",
                          "type": "solo traveller",
                          "name": "Hala",
                          "date": "2024-05-16 07:52:57",
                          "headline": "Very good",
                          "language": "en",
                          "pros": "",
                          "cons": ""
                        },
                        {
                          "averageScore": 8,
                          "country": "ma",
                          "type": "solo traveller",
                          "name": "Saharian.prince",
                          "date": "2024-05-15 15:24:22",
                          "headline": "Very good",
                          "language": "en",
                          "pros": "Great location, good people, good prices and a nice breakfast included.",
                          "cons": "Construction site nearby and slow wifi."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "hotelId is missing or invalid": {
                    "value": {
                      "error": {
                        "code": 4002,
                        "description": "hotelId is missing or invalid",
                        "message": "required request field is missing or wrong input"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/cities": {
      "get": {
        "tags": [
          "Cities"
        ],
        "summary": "List the cities of a country",
        "description": "The \"Get Cities\" endpoint allows developers to retrieve a list of city names within a specified country. The country code must be provided in ISO-2 format. By making a `GET` request to `/v3.0/data/cities` with the appropriate country code, developers can access a comprehensive list of cities in that country. If you need the ISO-2 country codes, you can use the [Get Country List endpoint](/v3.0.0/reference/get_data-countries).\n\nThis endpoint is essential for applications that require location-specific data, enhancing user experiences by providing accurate and relevant city information.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code in iso-2 format (example: SG)",
            "required": true,
            "example": "SG"
          },
          {
            "schema": {
              "type": "number",
              "default": 4,
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "43788"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "424618a3-639e-4d67-a296-c1280a3a164b"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fX8HIH5iIAMFYZA="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "AE result": {
                    "value": {
                      "data": [
                        {
                          "city": "Dubai"
                        },
                        {
                          "city": "Ajman"
                        },
                        {
                          "city": "Ras al Khaimah"
                        },
                        {
                          "city": "Abu Dhabi"
                        },
                        {
                          "city": "Hatta"
                        },
                        {
                          "city": "Hunaywah"
                        },
                        {
                          "city": "Da‘sah"
                        },
                        {
                          "city": "Al Ain"
                        },
                        {
                          "city": "Umm Al Quwain"
                        },
                        {
                          "city": "Sharjah"
                        },
                        {
                          "city": "Al 'Ayn"
                        },
                        {
                          "city": "Fujairah"
                        },
                        {
                          "city": "Al Aqah"
                        },
                        {
                          "city": "Layyah"
                        },
                        {
                          "city": "Rūl Ḑadnā"
                        },
                        {
                          "city": "Khor Fakkan"
                        },
                        {
                          "city": "Ar Ruways"
                        },
                        {
                          "city": "Ḩayāt"
                        },
                        {
                          "city": "Al Rahba"
                        },
                        {
                          "city": "Sharm"
                        },
                        {
                          "city": "Dibba"
                        },
                        {
                          "city": "Al Qurayyah"
                        },
                        {
                          "city": "Murquab"
                        },
                        {
                          "city": "Al Ḩamīdīyah"
                        },
                        {
                          "city": "Kalbā"
                        },
                        {
                          "city": "Qūr"
                        },
                        {
                          "city": "Mezairaa"
                        },
                        {
                          "city": "Jurayrah"
                        },
                        {
                          "city": "Jebel Dhanna"
                        },
                        {
                          "city": "Adh Dhayd"
                        },
                        {
                          "city": "Sharīyah"
                        },
                        {
                          "city": "Sinādil"
                        },
                        {
                          "city": "Baţīn"
                        },
                        {
                          "city": "‘Ashashah"
                        },
                        {
                          "city": "Badīyah"
                        },
                        {
                          "city": "Al Khān"
                        },
                        {
                          "city": "Wāsiţ"
                        },
                        {
                          "city": "Al Ḩamrānīyah"
                        },
                        {
                          "city": "Liwa"
                        },
                        {
                          "city": "Al Khaznah"
                        },
                        {
                          "city": "Al Marfaʼ"
                        },
                        {
                          "city": "Bulaydah"
                        },
                        {
                          "city": "Madīnat Zāyid"
                        },
                        {
                          "city": "‘Ūd al Bayḑāʼ"
                        },
                        {
                          "city": "Mawşil"
                        },
                        {
                          "city": "Ghantoot"
                        },
                        {
                          "city": "Al Khārī"
                        },
                        {
                          "city": "Ghayathi"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "43788"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "424618a3-639e-4d67-a296-c1280a3a164b"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fX8HIH5iIAMFYZA="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "countryCode is required": {
                    "value": {
                      "error": {
                        "code": 4000,
                        "description": "countryCode is required",
                        "message": "bad request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "43788"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string",
                  "example": "424618a3-639e-4d67-a296-c1280a3a164b"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string",
                  "example": "fX8HIH5iIAMFYZA="
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 26 Jan 2023 23:31:44 GMT"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/countries": {
      "get": {
        "tags": [
[...]
